<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.statutes.dao.othersDao.OthersDao">

    <select id="getAllOpinions" resultMap="Opinions">
        select * from opinions
    </select>
    <select id="getOpinionsById" resultMap="Opinions">
        select * from opinions where opinion_id=#{opinionId}
    </select>
    <delete id="delOpinionById">
        delete from opinions where opinion_id=#{opinionId}
    </delete>
    <select id="getCompanyContent" resultType="java.lang.String">
        select company_content from company where company_type=#{companyType}
    </select>
    <update id="updateCompany">
        update company set company_content=#{companyContent} where company_type=#{companyType}
    </update>
    <update id="addCompanyemail" parameterType="com.hd.statutes.model.entity.Companyemail">
        update companyemail set
        companyemail_email=#{companyemailEmail},
        companyemail_server=#{companyemailServer},
        companyemail_username=#{companyemailUsername},
        companyemail_password=#{companyemailPassword},
        companyemail_frequency=#{companyemailFrequency}
    </update>
    <select id="getCompanyemail" resultMap="Companyemail">
        select * from companyemail
    </select>

    <select id="getShormessage" resultMap="Shortmessage">
        select * from shortmessage
    </select>

    <update id="updateShortmessage">
        update shortmessage set shortmessage_apikey=#{shortmessageApikey}
    </update>

    <select id="getSites" resultMap="Sites">
        select * from sites
    </select>
    <update id="updateSites" parameterType="com.hd.statutes.model.entity.Sites">
        update sites set sites_email=#{sitesEmail},sites_language=#{sitesLanguage},sites_logo=#{sitesLogo},sites_org=#{sitesOrg},sites_status=#{sitesStatus},sites_title=#{sitesTitle}
    </update>

    <resultMap id="Sites" type="com.hd.statutes.model.entity.Sites">
        <id property="sitesId" column="sites_id"></id>
        <result property="sitesStatus" column="sites_status"></result>
        <result property="sitesTitle" column="sites_title"></result>
        <result property="sitesOrg" column="sites_org"></result>
        <result property="sitesLogo" column="sites_logo"></result>
        <result property="sitesEmail" column="sites_email"></result>
        <result property="sitesLanguage" column="sites_language"></result>
    </resultMap>

    <resultMap id="Shortmessage" type="com.hd.statutes.model.entity.Shortmessage">
        <id property="shortmessageId" column="shortmessage_id"></id>
        <result property="shortmessageApikey" column="shortmessage_apikey"></result>
    </resultMap>

    <resultMap id="Companyemail" type="com.hd.statutes.model.entity.Companyemail">
        <id property="companyemailId" column="companyemail_id"></id>
        <result property="companyemailEmail" column="companyemail_email"></result>
        <result property="companyemailServer" column="companyemail_server"></result>
        <result property="companyemailUsername" column="companyemail_username"></result>
        <result property="companyemailPassword" column="companyemail_password"></result>
        <result property="companyemailFrequency" column="companyemail_frequency"></result>
        <result property="frequencyLogintype" column="frequency_logintype"></result>
    </resultMap>

    <resultMap id="Opinions" type="com.hd.statutes.model.entity.Opinions">
        <id property="opinionId" column="opinion_id"></id>
        <result property="opinionContent" column="opinion_content"></result>
        <result property="opinionCreatetime" column="opinion_createtime"></result>
    </resultMap>
</mapper>