<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

2020-02-25 11:39:40.329 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.getAllUsers
2020-02-25 11:39:40.330 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有用户
2020-02-25 11:39:40.331 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：张平平
2020-02-25 11:39:40.332 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：125.34.84.60
2020-02-25 11:39:58.472 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.statypelist
2020-02-25 11:39:58.473 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 法规类型管理页
2020-02-25 11:39:58.480 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：张平平
2020-02-25 11:39:58.480 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：125.34.84.60
2020-02-25 11:39:58.610 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllStatype
2020-02-25 11:39:58.610 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有法规类型
2020-02-25 11:39:58.611 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：张平平
2020-02-25 11:39:58.611 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：125.34.84.60
2020-02-25 11:43:11.148 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.login
2020-02-25 11:43:11.150 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 登录页
2020-02-25 11:43:11.150 [http-nio-8181-exec-2] ERROR com.hd.statutes.utils.SystemLogAspect - ==发现异常==
2020-02-25 11:43:11.151 [http-nio-8181-exec-2] ERROR com.hd.statutes.utils.SystemLogAspect - 异常信息：null
2020-02-25 11:43:20.442 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.adminLogin
2020-02-25 11:43:20.442 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：管理员后台登录
2020-02-25 11:43:20.443 [http-nio-8181-exec-1] ERROR com.hd.statutes.utils.SystemLogAspect - ==发现异常==
2020-02-25 11:43:20.443 [http-nio-8181-exec-1] ERROR com.hd.statutes.utils.SystemLogAspect - 异常信息：null
2020-02-25 11:43:20.568 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.adminLogin
2020-02-25 11:43:20.569 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：管理员后台登录
2020-02-25 11:43:20.569 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:20.570 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:20.680 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.gostatuteTable
2020-02-25 11:43:20.681 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 法规列表页
2020-02-25 11:43:20.682 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:20.682 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:21.697 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllStatype
2020-02-25 11:43:21.699 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有法规类型
2020-02-25 11:43:21.700 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:21.701 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:21.706 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllStatutes
2020-02-25 11:43:21.707 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有法规
2020-02-25 11:43:21.708 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:21.708 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:24.050 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.opinionInfo
2020-02-25 11:43:24.051 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 意见反馈页
2020-02-25 11:43:24.052 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:24.053 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:24.196 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getAllOpinions
2020-02-25 11:43:24.197 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有意见
2020-02-25 11:43:24.197 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:24.198 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:24.638 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.adminManage
2020-02-25 11:43:24.641 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 管理员管理页
2020-02-25 11:43:24.642 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:24.643 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:24.784 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.getAllAdmin
2020-02-25 11:43:24.785 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看所有管理员
2020-02-25 11:43:24.786 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:24.788 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:26.375 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.shortMessage
2020-02-25 11:43:26.376 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 短信设置页
2020-02-25 11:43:26.377 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:26.377 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:26.869 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getShormessage
2020-02-25 11:43:26.870 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看公司介绍
2020-02-25 11:43:26.871 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:26.872 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:27.561 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.serverAgreements
2020-02-25 11:43:27.562 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 服务协议页
2020-02-25 11:43:27.563 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:27.563 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:29.117 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.showcompany
2020-02-25 11:43:29.117 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 公司介绍页
2020-02-25 11:43:29.118 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:29.118 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:31.583 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getCompanyContent
2020-02-25 11:43:31.583 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看公司信息
2020-02-25 11:43:31.584 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:31.584 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-25 11:43:31.605 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getCompanyContent
2020-02-25 11:43:31.605 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看公司信息
2020-02-25 11:43:31.605 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-25 11:43:31.606 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190



2020-02-26 00:48:41.260 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllContentsByStatuteId
2020-02-26 00:48:41.260 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：根据法规查询所有目录
2020-02-26 00:48:41.260 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:48:41.260 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:48:41.260 [http-nio-8181-exec-9] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==>  Preparing: select * from contents WHERE contents_level=? and con_id=? and sta_id=? order by contents_serial
2020-02-26 00:48:41.261 [http-nio-8181-exec-9] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==> Parameters: 3(Integer), 6(Integer), 4(Integer)
2020-02-26 00:48:41.261 [http-nio-8181-exec-9] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - <==      Total: 0
2020-02-26 00:48:41.271 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllContentsByStatuteId
2020-02-26 00:48:41.272 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：根据法规查询所有目录
2020-02-26 00:48:41.272 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:48:41.272 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:48:41.272 [http-nio-8181-exec-10] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==>  Preparing: select * from contents WHERE contents_level=? and con_id=? and sta_id=? order by contents_serial
2020-02-26 00:48:41.272 [http-nio-8181-exec-10] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==> Parameters: 3(Integer), 7(Integer), 4(Integer)
2020-02-26 00:48:41.273 [http-nio-8181-exec-10] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - <==      Total: 0
2020-02-26 00:48:41.282 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllContentsByStatuteId
2020-02-26 00:48:41.283 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：根据法规查询所有目录
2020-02-26 00:48:41.283 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:48:41.283 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:48:41.283 [http-nio-8181-exec-5] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==>  Preparing: select * from contents WHERE contents_level=? and con_id=? and sta_id=? order by contents_serial
2020-02-26 00:48:41.283 [http-nio-8181-exec-5] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==> Parameters: 3(Integer), 11(Integer), 4(Integer)
2020-02-26 00:48:41.284 [http-nio-8181-exec-5] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - <==      Total: 0
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.StatuteController.getAllContentsByStatuteId
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：根据法规查询所有目录
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==>  Preparing: select * from contents WHERE contents_level=? and con_id=? and sta_id=? order by contents_serial
2020-02-26 00:48:41.293 [http-nio-8181-exec-2] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - ==> Parameters: 3(Integer), 12(Integer), 4(Integer)
2020-02-26 00:48:41.294 [http-nio-8181-exec-2] DEBUG c.h.s.d.l.StatuteDao.getAllContentsByStatuteId - <==      Total: 0
2020-02-26 00:49:56.937 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.getAllUsers
2020-02-26 00:49:56.937 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有用户
2020-02-26 00:49:56.937 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:49:56.937 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:52:52.546 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.consultsList
2020-02-26 00:52:52.547 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 咨询管理页页
2020-02-26 00:52:52.547 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:52:52.547 [http-nio-8181-exec-3] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:52:52.647 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.getAllConsultsByUserId
2020-02-26 00:52:52.647 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询用户所有咨询
2020-02-26 00:52:52.647 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:52:52.647 [http-nio-8181-exec-1] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:52:53.886 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.consultShow
2020-02-26 00:52:53.886 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询一个咨询
2020-02-26 00:52:53.886 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:52:53.886 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:52:59.178 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.consultShow
2020-02-26 00:52:59.178 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询一个咨询
2020-02-26 00:52:59.178 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:52:59.178 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:53:03.224 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.consultShow
2020-02-26 00:53:03.224 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询一个咨询
2020-02-26 00:53:03.225 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:53:03.225 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:55:12.432 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getSites
2020-02-26 00:55:12.433 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看网站设置
2020-02-26 00:55:12.433 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:55:12.433 [http-nio-8181-exec-5] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:57:36.648 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.showcompany
2020-02-26 00:57:36.648 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 公司介绍页
2020-02-26 00:57:36.648 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:57:36.648 [http-nio-8181-exec-8] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:57:36.766 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getCompanyContent
2020-02-26 00:57:36.766 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看公司信息
2020-02-26 00:57:36.766 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:57:36.766 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:58:42.413 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.serverAgreements
2020-02-26 00:58:42.414 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 服务协议页
2020-02-26 00:58:42.414 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:58:42.414 [http-nio-8181-exec-6] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:58:42.524 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getCompanyContent
2020-02-26 00:58:42.524 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看公司信息
2020-02-26 00:58:42.524 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:58:42.524 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:59:37.363 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.adminManage
2020-02-26 00:59:37.363 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 管理员管理页
2020-02-26 00:59:37.363 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:59:37.363 [http-nio-8181-exec-4] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 00:59:37.457 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.UsersController.getAllAdmin
2020-02-26 00:59:37.457 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看所有管理员
2020-02-26 00:59:37.457 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 00:59:37.457 [http-nio-8181-exec-7] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 01:03:44.817 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.LinkController.opinionInfo
2020-02-26 01:03:44.818 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：访问 意见反馈页
2020-02-26 01:03:44.818 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 01:03:44.818 [http-nio-8181-exec-10] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 01:03:44.933 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getAllOpinions
2020-02-26 01:03:44.934 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查询所有意见
2020-02-26 01:03:44.934 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 01:03:44.934 [http-nio-8181-exec-9] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190
2020-02-26 01:03:47.390 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求方法com.hd.statutes.controller.management.OthersController.getOpinionsById
2020-02-26 01:03:47.390 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 方法描述：查看意见
2020-02-26 01:03:47.390 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求人：王璐璐
2020-02-26 01:03:47.390 [http-nio-8181-exec-2] WARN  com.hd.statutes.utils.SystemLogAspect - 请求ip：103.216.43.190




















</body>
</html>